span.headerE:hover, span.headerM1:hover, span.headerM2:hover, span.headerA:hover, 
span.headerN:hover, span.headerR:hover, span.headerU:hover, span.headerI:hover, span.headerZ:hover {
    text-decoration: underline;
    cursor: pointer;
}

span.headerE:hover {
    color: #ff0000;
}

span.headerM1:hover {
    color: #dd9900;
}

span.headerM2:hover {
    color: #dddd00;
}

span.headerA:hover {
    color: #00aa00;
}

span.headerN:hover {
    color: #00aaaa;
}

span.headerR:hover {
    color: #0099ff;
}

span.headerU:hover {
    color: #0000ff;
}

span.headerI:hover {
    color: #4422ff;
}

span.headerZ:hover {
    color: #bb00ff;
}
